.cache/
__pycache__
.submit-repo/
jpeg-decoder/*.png
build*
release*
tsan*
asan*
*~
*#
*.out
*.a
*.o
.vscode/
.doit.db
.idea
perf.data*
cmake-*
CMakeSettings.json
CppProperties.json
.vs/
.DS_Store
tools/folly
.venv
